
front-end/.eslintrc.json
front-end/next.config.js
front-end/package-lock.json
front-end/package.json
front-end/public/favicon.ico
front-end/public/next.svg
front-end/public/thirteen.svg
front-end/public/vercel.svg
front-end/README.md
front-end/src/assets/best-product1.jpg
front-end/src/assets/category1.jpg
front-end/src/assets/category2.jpg
front-end/src/assets/home-carousel-1.jpg
front-end/src/assets/home-carousel-2.jpg
front-end/src/assets/new_egg_logo.png
front-end/src/assets/product1.png
front-end/src/assets/product2.png
front-end/src/components/admin/AdminDashboard.tsx
front-end/src/components/admin/AdminHome.tsx
front-end/src/components/admin/management/ManagementPage.tsx
front-end/src/components/admin/management/promotion/PromotionPage.tsx
front-end/src/components/admin/management/shop/InsertShopPage.tsx
front-end/src/components/admin/management/shop/ShopPage.tsx
front-end/src/components/admin/management/user/UserPage.tsx
front-end/src/components/admin/management/voucher/VoucherPage.tsx
front-end/src/components/BackButton.tsx
front-end/src/components/cart/CartPage.tsx
front-end/src/components/dashboard/CarouselCard.tsx
front-end/src/components/dashboard/Dashboard.tsx
front-end/src/components/dashboard/Detail/ProductDetail.tsx
front-end/src/components/dashboard/InfiniteScroll.tsx
front-end/src/components/dashboard/ProductCard.tsx
front-end/src/components/dashboard/Sidebar.tsx
front-end/src/components/footer/Footer.tsx
front-end/src/components/navbar/Navbar.tsx
front-end/src/components/search-bar/SearchBar.tsx
front-end/src/components/seller/products/SellerAddProduct.tsx
front-end/src/components/seller/products/SellerProductPage.tsx
front-end/src/components/seller/SellerPage.tsx
front-end/src/ENV.tsx
front-end/src/firebase-config.ts
front-end/src/interface/Cart.tsx
front-end/src/interface/Product.tsx
front-end/src/interface/Promotion.tsx
front-end/src/interface/Shop.tsx
front-end/src/interface/User.tsx
front-end/src/pages/_app.tsx
front-end/src/pages/_document.tsx
front-end/src/pages/admin/index.tsx
front-end/src/pages/admin/management/index.tsx
front-end/src/pages/admin/management/promotion/index.tsx
front-end/src/pages/admin/management/shop/index.tsx
front-end/src/pages/admin/management/shop/insert-shop/index.tsx
front-end/src/pages/admin/management/user/index.tsx
front-end/src/pages/admin/management/voucher/index.tsx
front-end/src/pages/api/hello.ts
front-end/src/pages/cart/index.tsx
front-end/src/pages/index.tsx
front-end/src/pages/login/index.tsx
front-end/src/pages/product/\[productID\].tsx
front-end/src/pages/seller/index.tsx
front-end/src/pages/seller/products/addproduct/index.tsx
front-end/src/pages/seller/products/index.tsx
front-end/src/pages/sign-up/index.tsx
front-end/src/pages/utils/CookieHandler.tsx
front-end/src/pages/utils/MiddlewareHandler.tsx
front-end/src/pages/utils/ShopHandler.tsx
front-end/src/styles/adminHome/AdminHome.module.css
front-end/src/styles/adminHome/management/InsertShopPage.module.css
front-end/src/styles/adminHome/management/PromotionPage.module.css
front-end/src/styles/adminHome/management/ShopPage.module.css
front-end/src/styles/adminHome/management/user/UserPage.module.css
front-end/src/styles/adminHome/management/VoucherPage.module.css
front-end/src/styles/Dashboard.module.css
front-end/src/styles/Footer.module.css
front-end/src/styles/globals.css
front-end/src/styles/Home.module.css
front-end/src/styles/InfiniteScroll.module.css
front-end/src/styles/Login.module.css
front-end/src/styles/navbar/Navbar.module.css
front-end/src/styles/navbar/Navbar2.module.css
front-end/src/styles/navbar/SearchBar.module.css
front-end/src/styles/ProductDetail.module.css
front-end/src/styles/sellerHome/SellerPage.module.css
front-end/src/styles/sellerHome/sellerProductPage/SellerAddProduct.module.css
front-end/src/styles/sellerHome/sellerProductPage/SellerProductPage.module.css
front-end/src/styles/SignUp.module.css
front-end/src/styles/theme.tsx
front-end/tsconfig.json
golang-gin.zip
golang-product-restapi-main/models.go
golang-product-restapi-main/main.go
golang-product-restapi-main/go.sum
golang-product-restapi-main/go.mod
golang-product-restapi-main/database.go
golang-product-restapi-main/controller/productController.go
golang-product-restapi-main/.env.example
golang-product-restapi-main.zip
tpa-web/
TPA Web 22-2.pdf
presen/TPA-Web/
go/tools/tools.go
go/server.go
go/graph/schema.resolvers.go
go/graph/schema.graphqls
go/graph/resolver.go
go/graph/model/models_gen.go
go/graph/generated.go
go/gqlgen.yml
go/go.sum
go/go.mod
